<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/airshow/1.jpg') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <h3 class="title">AirShow</h3>
        <p class="category">un festival aérien</p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="https://web.facebook.com/TunAeroday/" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Aimez notre page Facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCNPHxMaq-U-SdleuJgISVqQ" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="abonnez-vous sur notre chaine Youtube">
          <i class="fa fa-youtube-play"></i>
        </a>
        <a href="https://www.instagram.com/tunisian_aeroday/" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Suivez-nous sur Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="row">
        <div class="col-md-3 ml-auto mr-auto text-center">
          <p class="category">Responsable AirShow:</p>
          <p> Wala Ncib</p>
          <img src="assets/img/comitee/DSC_0076.JPG" alt="Raised Image" class="rounded img-raised">
        </div>
        <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title">Description</h3>
          <h5 class="description">l'airshow est un challenge indoor consacré aux avions radio-commandées , planneurs et hélicoptères.
            Lors de ce show aérien compétitif les participants sont amenés à présenter un show spéctaculaire , utile et innovant qui met en valeur leurs abilités de pilotage .
            Un jury professionnel et un public eenthousiaste seront présents pour évaluer les différentes performances.</h5>
          <!-- <div align="center">
            <a href="/assets/pdf/airshow.pdf" class="btn btn-primary btn-round btn-lg" target="_blank">cahier des charges</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYD6rDKOtH5vlJQKoyaCCuAtvCDxIsFxzUmiXfb0TLvQagug/viewform?usp=sf_link" class="btn btn-primary btn-round btn-lg" target="_blank">lien d'inscription</a>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <br>
          <br>
          <h4 class="title text-center">AirShow en images</h4>
          <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/airshow/3.jpg" alt="" class="img-raised">
                        <img src="assets/img/airshow/IMG_0626.JPG" alt="" class="img-raised">
                      </div>
                      <div class="col-md-6">
                        <img src="assets/img/airshow/IMG_0416.JPG" alt="" class="img-raised">
                        <img src="assets/img/airshow/IMG_0703.JPG" alt="" class="img-raised">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/airshow/IMG_0412.JPG" alt="" class="img-raised">
                        <img src="assets/img/airshow/IMG_0415.JPG" alt="" class="img-raised">
                      </div>
                      <div class="col-md-6">
                        <img src="assets/img/airshow/IMG_0430.JPG" alt="" class="img-raised">
                        <img src="assets/img/airshow/2.jpg" alt="" class="img-raised">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center" data-background-color="black" style="position: center">
    <div>
      <div>
        &copy;
        {{data | date: 'yyyy'}}, Aeroday.All rights reserved.
      </div>
    </div>
  </footer>
</div>
