<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/aeromodelisme/IMG_0500.JPG') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <h3 class="title">AeroModélisme</h3>
        <p class="category">pour les passionnés de l’aéronautique</p>
        <!--<div class="content">-->
          <!--<div class="social-description">-->
            <!--<h2>26</h2>-->
            <!--<p>Participants</p>-->
          <!--</div>-->
          <!--<div class="social-description">-->
            <!--<h2>26</h2>-->
            <!--<p>Comments</p>-->
          <!--</div>-->
          <!--<div class="social-description">-->
            <!--<h2>48</h2>-->
            <!--<p>Bookmarks</p>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="https://web.facebook.com/TunAeroday/" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Aimez notre page Facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCNPHxMaq-U-SdleuJgISVqQ" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="abonnez-vous sur notre chaine Youtube">
          <i class="fa fa-youtube-play"></i>
        </a>
        <a href="https://www.instagram.com/tunisian_aeroday/" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Suivez-nous sur Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="row">
        <div class="col-md-3 ml-auto mr-auto">
          <p class="category">Responsable AeroModélisme:</p>
          <p class="description"> Emna Cherif</p>
          <img src="assets/img/comitee/DSC_0070.JPG" alt="Raised Image" class="rounded img-raised">
        </div>
        <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title">Description</h3>
          <h5 class="description">Le challenge d’AéroModélisme revient pour la quatrième année consécutive dans le TUNISIAN AERODAY. Les participants, passionnés d’aéronautique, devront construire leurs propres modèles de taille réduite, les présenter à un public de professionnels et d’amateurs et les faire voler devant un jury dans le cadre de la partie “Flight Test”. Le modèle construit doit être original , qui est unique en son genre, qui ne paraît s'inspirer de rien d'antérieur et qui soit inventé par une équipe tunisienne. Cette compétition est ouverte pour toutes les personnes souhaitant partager leur passion avec les autres.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <br>
          <br>
          <h4 class="title text-center">AeroModélisme en images</h4>
          <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/aeromodelisme/IMG_0791.JPG" alt="" class="img-raised">
                        <img src="assets/img/aeromodelisme/IMG_0539.JPG" alt="" class="img-raised">
                      </div>
                      <div class="col-md-6">
                        <img src="assets/img/aeromodelisme/IMG_0905.JPG" alt="" class="img-raised">
                        <img src="assets/img/aeromodelisme/IMG_0725.JPG" alt="" class="img-raised">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/aeromodelisme/IMG_0494.JPG" alt="" class="img-raised">
                        <img src="assets/img/aeromodelisme/IMG_3125.jpg" alt="" class="img-raised">
                      </div>
                      <div class="col-md-6">
                        <img src="assets/img/aeromodelisme/IMG_0893.JPG" alt="" class="img-raised">
                        <img src="assets/img/aeromodelisme/IMG_0900.JPG" alt="" class="img-raised">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center" data-background-color="black" style="position: center">
    <div>
      <div>
        &copy;
        {{data | date: 'yyyy'}}, Aeroday.All rights reserved.
      </div>
    </div>
  </footer>
</div>
