

<div class="section section-nucleo-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 class="title">Qui sommes nous ?</h2>
        <h5>
          Le Tunisian Aeroday est l'unique journée consacrée entièrement à l'Aéronautique en Tunisie, elle est fondée par le club Aerobotix insat en collaboration avec l'association des techniques de robotique (ATR).
          Cette journée est basée sur plusieurs axes:<br>
          - Expositions<br>
          - Ateliers Novices<br>
          - Air Show<br>
          - Des conférences variées<br>
          Ainsi que sur des challenges:
          Challenge CAO, AeroEntrepreneur, Aerochallenge, Aéromodélisme at DevMobile..
          Cet événement opte pour la vulgarisation du domaine aéronautique chez le grand public ainsi que sur la découverte de nouveaux potentiels dont disposent les jeunes.
        </h5>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/hQN8zEyW32w" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>