<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/challengecao/1.jpg') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <h3 class="title">Challenge CAO</h3>
        <p class="category">Partage ta créativité</p>
        <div class="content">
          <div class="social-description">
            <h2>26</h2>
            <p>Participants</p>
          </div>
          <div class="social-description">
            <h2>26</h2>
            <p>Comments</p>
          </div>
          <div class="social-description">
            <h2>48</h2>
            <p>Bookmarks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="#button" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Aimez notre page Facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="#button" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="abonnez-vous sur notre chaine Youtube">
          <i class="fa fa-youtube-play"></i>
        </a>
        <a href="#button" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Suivez-nous sur Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="row">
        <div class="col-md-3 ml-auto mr-auto">
          <p class="category">Responsable challenge CAO:</p>
          <p class="description"> Rihab Saidi</p>
          <img src="assets/img/comitee/DSC_0131.JPG" alt="Raised Image" class="rounded img-raised">
        </div>
        <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title">Description</h3>
          <h5 class="description">Ce challenge dure 24 heures au cours desquelles les participants vont exploiter leurs créativités et leurs imaginations pour donner naissance à un modèle 3D valide et innovant d’un engin volant moyennant les logiciels récents de modélisation (SolidWorks et Catia). Les participants vont présenter leur travail devant des juges experts dans le domaine de CAD (Computer Aided Design) afin de l’évaluer selon des critères bien déterminés .</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <br>
          <br>
          <h4 class="title text-center">Challenge CAO en images</h4>
          <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/challengecao/2.jpg" alt="" class="img-raised">
                        <img src="assets/img/challengecao/3.jpg" alt="" class="img-raised">
                      </div>
                      <div class="col-md-6">
                        <img src="assets/img/challengecao/4.jpg" alt="" class="img-raised">
                        <img src="assets/img/challengecao/8.jpg" alt="" class="img-raised">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/challengecao/6.jpg" alt="" class="img-raised">
                        <img src="assets/img/challengecao/7.jpg" alt="" class="img-raised">
                      </div>
                      <div class="col-md-6">
                        <img src="assets/img/challengecao/5.jpg" alt="" class="img-raised">
                        <img src="assets/img/challengecao/9.jpg" alt="" class="img-raised">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center" data-background-color="black" style="position: center">
    <div>
      <div>
        &copy;
        {{data | date: 'yyyy'}}, Aeroday.All rights reserved.
      </div>
    </div>
  </footer>
</div>
