 <!--<div class="container">-->
     <!--<br>-->
     <!--<br>-->
     <!--<h3 class="text-center">Nos Sponsors</h3>-->
    <!--<div class="carousel24">-->
        <!--<img src="assets/img/sponsors/1.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/2.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/3.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/4.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/5.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/6.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/7.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/8.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/9.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/10.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/11.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/12.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/13.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/14.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/15.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/16.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/17.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/18.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/19.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/20.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/21.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/22.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/23.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/24.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/25.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/26.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/27.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/28.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/29.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/30.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/31.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/32.jpg" alt="">-->
        <!--<img src="assets/img/sponsors/33.jpg" alt="">-->
      <!--</div>-->
 <!--</div>-->

