<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header2.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <h1 class="h1-seo">Tunisian Aeroday 2019</h1>
              <h3>La 8éme Edition de la Journée Nationale de l'Aeronautique</h3>
          </div>
      </div>
  </div>

  <div class="main">
    <!--<div class="section section-images">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="hero-images-container">-->
                        <!--<img src="assets/img/hero-image-1.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="hero-images-container-1">-->
                        <!--<img src="assets/img/hero-image-2.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="hero-images-container-2">-->
                        <!--<img src="assets/img/hero-image-3.png" alt="">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
      <app-introduction></app-introduction>
      <app-members></app-members>
      <app-sponsors></app-sponsors>

      <div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
          <div class="container">
              <div class="row">
                  <div class="card card-signup" style="background-color: #9999ff">
                      <form class="form" method="" action="">
                          <div class="header text-center">
                              <h4 class="title title-up">Exprimez vous</h4>
                              <div class="social-line">
                                  <a href="#" class="btn btn-neutral btn-facebook btn-icon btn-round">
                                      <i class="fa fa-facebook-square"></i>
                                  </a>
                                  <a href="#" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                                  <a href="#" class="btn btn-neutral btn-google btn-icon btn-round">
                                      <i class="fa fa-google-plus"></i>
                                  </a>
                              </div>
                          </div>
                          <div class="card-body">
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                              </div>
                                <input type="text" class="form-control" placeholder="Nom" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                              </div>
                                <input type="number" placeholder="GSM" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                            </div>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus2===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                              </div>
                                <input type="text" placeholder="Email..." class="form-control" (focus)="focus2=true" (blur)="focus2=false"/>
                            </div>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                  </div>
                                  <textarea type="text" class="form-control" placeholder="Message" (focus)="focus=true" (blur)="focus=false" rows="5" ></textarea>
                              </div>
                          </div>
                          <div class="footer text-center">
                              <a class="btn btn-neutral btn-round btn-lg">Envoyer</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <footer class="footer text-center" data-background-color="black" style="position: center">
      <div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12" style="padding-bottom: 30px">
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.982591213649!2d10.19400795038571!3d36.842892979841324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c6d1e93bef%3A0x4153c4733f285343!2sNational+Institute+of+Applied+Science+and+Technology!5e0!3m2!1sen!2stn!4v1542627902547" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12" id="contacts" >
                      <h2 class="title">Notre Adresse</h2>
                      <p>INSAT Centre Urbain Nord BP 676
                          - 1080 Tunis Cedex</p>
                      <ul>
                          <li><span>Email:    </span>contact@aeroday.tn</li><br>
                          <li><span>GSM:      </span>+216 54 602 139 / +216 23 339 191</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div>
          <div>
              &copy;
            {{data | date: 'yyyy'}}, Aeroday.All rights reserved.
          </div>
      </div>
  </footer>
</div>
