<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/writing.jpg') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <h3 class="title">Inscription aux challenges</h3>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="https://web.facebook.com/TunAeroday/" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Aimez notre page Facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCNPHxMaq-U-SdleuJgISVqQ" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="abonnez-vous sur notre chaine Youtube">
          <i class="fa fa-youtube-play"></i>
        </a>
        <a href="https://www.instagram.com/tunisian_aeroday/" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Suivez-nous sur Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <h4>AeroChallenge</h4>
        </div>
        <div class="col-md-3 ml-auto mr-auto">
          <div align="center">
          <a href="/assets/pdf/aerochallenge.pdf" class="btn btn-primary btn-round btn-lg" target="_blank">cahier des charges</a>
          </div>
        </div>
        <div class="col-md-3 ml-auto mr-auto">
          <div align="center">
            <a href="https://docs.google.com/forms/d/1OgvS49te5aWaKBKlA_Pm8xil4Qwp94w3en3ExUiHpzM/viewform?chromeless=1&edit_requested=true" class="btn btn-primary btn-round btn-lg" target="_blank">lien d'inscription</a>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <h4>AeroEntrepreneur</h4>
            </div>
            <div class="col-md-3 ml-auto mr-auto">
              <div align="center">
              <a href="/assets/pdf/aeroEntrepreneur.pdf" class="btn btn-primary btn-round btn-lg" target="_blank">cahier des charges</a>
              </div>
            </div>
            <div class="col-md-3 ml-auto mr-auto">
              <div align="center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrgI9w_nBp4bE54AOlOIbSNvpbMecdTceKO76eYKMP0KAbKg/viewform?usp=sf_link" class="btn btn-primary btn-round btn-lg" class="btn btn-primary btn-round btn-lg" target="_blank">lien d'inscription</a>
                </div>
              </div>
          </div>
          <br>
            
          <!-- <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <h4>AeroModélisme</h4>
                </div>
                <div class="col-md-3 ml-auto mr-auto">
                  <div align="center">
                  <a href="/assets/pdf/aeromodelisme.pdf" class="btn btn-primary btn-round btn-lg" target="_blank">cahier des charges</a>
                  </div>
                </div>
                <div class="col-md-3 ml-auto mr-auto">
                  <div align="center">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScQAmM73p4oUUZkt0Wx00zd8QO0ABm7PElcNZptMUh2vOcT1A/viewform?usp=sf_link" class="btn btn-primary btn-round btn-lg" target="_blank">lien d'inscription</a>
                    </div>
                  </div>
          </div>
          <br> -->

          <!-- <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                        <h4>AirShow</h4>
              </div>
                    <div class="col-md-3 ml-auto mr-auto">
                      <div align="center">
                      <a href="/assets/pdf/airshow.pdf" class="btn btn-primary btn-round btn-lg" target="_blank">cahier des charges</a>
                      </div>
                    </div>
                    <div class="col-md-3 ml-auto mr-auto">
                      <div align="center">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYD6rDKOtH5vlJQKoyaCCuAtvCDxIsFxzUmiXfb0TLvQagug/viewform?usp=sf_link" class="btn btn-primary btn-round btn-lg" target="_blank">lien d'inscription</a>
                        </div>
                      </div>
            </div>
            <br> -->

            <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <h4>Ateliers Novices</h4>
                        </div>
                        <div class="col-md-3 ml-auto mr-auto">
                          <div align="center">
                          <a href="/assets/pdf/novices.pdf" class="btn btn-primary btn-round btn-lg" target="_blank">cahier des charges</a>
                          </div>
                        </div>
                        <div class="col-md-3 ml-auto mr-auto">
                          <div align="center">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeTJGgbi9zrZ4P0JASf-PilCFISqkSOvCh38f2XKXd6g6HuXw/viewform?fbclid=IwAR3mys36HAk4ZEpSDTCw3U6_TAvPeCZW4jPdu57IXWL3rWHSwY6BGXrBOWU" class="btn btn-primary btn-round btn-lg" target="_blank">lien d'inscription</a>
                            </div>
                          </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <h4>Challenge CAO</h4>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                    <div align="center">
                        <a href="https://goo.gl/forms/ZUSILA168eld2GAP2" class="btn btn-primary btn-round btn-lg" target="_blank">lien d'inscription</a>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <h4>Challenge DEV</h4>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <div align="center">
                    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSeaSaf7SWzBobCsWu1-2VxkugWZiX2r-ND5ff-JY9IDGu4_YQ%2Fviewform%3Fusp%3Dsf_link%26fbclid%3DIwAR3Q_KR2f4V-sLj3JsFzyifLW0gHIcEq4FU9zPuwpSYfgAn3qyJ1dlmNMWM&h=AT2b4Fj_TJmvMXfNDUT6hbPez4iNqowwF4L-xKWRmToEvspUlmdL0hrIcjv5ZmpMnrLETlIDgXlB5dFpZDXU7BF1LlpRgragic8MXvUiwdOtYtZoH7wkCa9XAbelizQB44HD" class="btn btn-primary btn-round btn-lg" target="_blank">lien d'inscription</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <footer class="footer text-center" data-background-color="black" style="position: center">
    <div>
      <div>
        &copy;
        {{data | date: 'yyyy'}}, Aeroday.All rights reserved.
      </div>
    </div>
  </footer>
</div>

