
<div class="text-center container">
    <h3>Notre équipe</h3>
<div class="container2 clear" id="description0">

    <div class="box">
        <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0131.JPG');" data-name="" data-img="assets/img/comitee/DSC_0131.JPG" data-tel="56256567 / 51050902" data-email="rihabsaidiiia@gmail.com" data-fb="https://web.facebook.com/saidi.rihab" data-post="Responsable Challenge CAO" onclick="displayMemberModel(this)">
            <div class="overlay"></div>
            <div class="textMember">
                Saidi Rihab <br> Responsable challenge CAO
            </div>
        </div>
    </div>

    <div class="box">
       <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0087.JPG');" data-name="Fedi Dadi" data-img="assets/img/comitee/DSC_0086.JPG" data-tel="53721428" data-email="dadi.fedii@gmail.com" data-fb="https://web.facebook.com/Fedi.Hetfield" data-post="Vice Président Technique" onclick="displayMemberModel(this)" >

         <div class="overlay"></div>
         <div class="textMember">
             Fedi Dadi
             <br>
             Vice Président Technique
         </div>
       </div>
    </div>

  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0096.JPG');" data-name="" data-img="assets/img/comitee/DSC_0096.JPG" data-tel="26235633 / 27895451" data-email="idoudigh01@gmail.com" data-fb="https://web.facebook.com/ghaith.idoudi" data-post="Vice-Président Administratif" onclick="displayMemberModel(this)">

     <div class="overlay"></div> 
     <div class="textMember">
         Ghaith Idoudi
         <br>
         Vice-Président Administratif
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0134.JPG');"  data-name="" data-img="assets/img/comitee/DSC_0134.JPG" data-tel="50340798" data-email="Arou7ezzeddine@gmail.com" data-fb="https://web.facebook.com/aroua.ezzeddine" data-post="Responsable Organisation" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Arwa Ezzeddine
         <br>
         Responsable Organisation
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0040.JPG');"  data-name="" data-img="assets/img/comitee/DSC_0040.JPG" data-tel="28 455 462" data-email="anis.bg@outlook.fr" data-fb="https://web.facebook.com/anis.b.ghanem" data-post="Responsable Aerochallenge" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Anis Ben Ghanem <br>
         Responsable Aerochallenge
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0073.JPG');" data-name="" data-img="assets/img/comitee/DSC_0073.JPG" data-tel="51819864" data-email="amirbenhassine@ieee.org" data-fb="https://web.facebook.com/amir.benhassine" data-post="Responsable challenge aeroentrepreneur" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Amir Ben Hassine <br> Responsable challenge Aeroentrepreneur
      </div>
    </div>
  </div>

    <div class="box">
        <div class="photoMember" data-name="Oumaima Krifa" data-img="assets/img/comitee/DSC_0085.JPG" data-tel="93605208 / 20923095" data-email="oumaimakrifa@gmail.com" data-fb="https://web.facebook.com/krifa.oumaima" data-post="Présidente" style="background-image: url('assets/img/comitee/taille1/DSC_0085.JPG');" onclick="displayMemberModel(this)">
            <div class="overlay"></div>
            <div class="textMember">
                Oumaima Krifa
                <br>
                Présidente
            </div>
        </div>
    </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0089.JPG');" data-name="" data-img="assets/img/comitee/DSC_0089.JPG" data-tel="28586319 " data-email="khalil.0927mejri@gmail.com" data-fb="https://web.facebook.com/khalil.mejri.39566" data-post="Responsable challenge dev_mobile" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Khalil Mejri <br> Responsable DevChallenge
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0070.JPG');" data-name="" data-img="assets/img/comitee/DSC_0070.JPG" data-tel="92683813" data-email="cherif.emmna@gmail.com" data-fb="https://web.facebook.com/cherif.emna.7" data-post="Responsable Aeromodelisme" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Cherif Emna <br> Responsable Aeromodelisme
      </div>
    </div>
  </div>
    <div class="box">
        <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0047.JPG');" data-name="" data-img="assets/img/comitee/DSC_0047.JPG" data-tel="21569120" data-email="ghaffari.ons@gmail.com " data-fb="https://web.facebook.com/profile.php?id=100006635178579" data-post="Responsable Ateliers Novices" onclick="displayMemberModel(this)">
            <div class="overlay"></div>
            <div class="textMember">
                Ons Ghaffari <br> Responsable Ateliers Novices
            </div>
        </div>
    </div>
    <div class="box">
        <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0122.JPG');" data-name="" data-img="assets/img/comitee/DSC_0122.JPG" data-tel="52507217" data-email="souhailch@outlook.fr" data-fb="https://web.facebook.com/souhailchtioui.br01" data-post="Responsable Aerospace" onclick="displayMemberModel(this)">
            <div class="overlay"></div>
            <div class="textMember">
                Souhail Chtioui <br> Responsable Aerospace
            </div>
        </div>
    </div>
    <div class="box">
        <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0123.JPG');" data-name="" data-img="assets/img/comitee/DSC_0123.JPG" data-tel="96 671 872 " data-email="samehzaguia13@gmail.com" data-fb="https://web.facebook.com/sam.sarraa" data-post="Responsable Expositions" onclick="displayMemberModel(this)">
            <div class="overlay"></div>
            <div class="textMember">
                Sameh Zaguia <br> Responsable Exposition
            </div>
        </div>
    </div>
    <div class="box">
        <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0076.JPG');" data-name="" data-img="assets/img/comitee/DSC_0076.JPG" data-tel="94295202" data-email="Walancib843@gmail.com" data-fb="https://web.facebook.com/wala.ncib.7" data-post="Responsable Airshow" onclick="displayMemberModel(this)">
            <div class="overlay"></div>
            <div class="textMember">
                Wala Ncib <br> Responsable Airshow
            </div>
        </div>
    </div>
    <div class="box">
        <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0034.JPG');" data-name="" data-img="assets/img/comitee/DSC_0034.JPG" data-tel="20908009" data-email="ghassenkhedher2@gmail.com" data-fb="https://web.facebook.com/ghassen.khedher.5" data-post="Ambassadeur" onclick="displayMemberModel(this)">
            <div class="overlay"></div>
            <div class="textMember">
                Ghassen Khedher <br> Ambassadeur
            </div>
        </div>
    </div>
    <div class="box">
        <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0028.JPG');" data-name="" data-img="assets/img/comitee/DSC_0028.JPG" data-tel="50682196" data-email="linna1098@gmail.com" data-fb="https://web.facebook.com/linna.azaiez.7" data-post="Ambassadrice" onclick="displayMemberModel(this)">
            <div class="overlay"></div>
            <div class="textMember">
                Linna Azaiez <br> Ambassadrice
            </div>
        </div>
    </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0066.JPG');" data-name="" data-img="assets/img/comitee/DSC_0066.JPG" data-tel="24432555" data-email="chaouchzeineb1997@gmail.com" data-fb="https://web.facebook.com/chaouch.zeineb" data-post="Responsable Décoration" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Zeineb Chaouch <br> Responsable Décoration
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0029.JPG');" data-name="" data-img="assets/img/comitee/DSC_0029.JPG" data-tel="53184685" data-email="zaghdoudimedaziz@gmail.com" data-fb="https://web.facebook.com/medazizzagh" data-post="Responsable média OFF" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Med Aziz Zaghdoudi  <br>Responsable Média-OFF
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0060.JPG');" data-name="" data-img="assets/img/comitee/DSC_0060.JPG" data-tel="22078198" data-email="Mariemkhlifi548@yahoo.com" data-fb="https://web.facebook.com/meriem.b.mimou" data-post="Responsable Média-On" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Mariem Khlifi <br> Responsable Média-On
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0072.JPG');" data-name="" data-img="assets/img/comitee/DSC_0072.JPG" data-tel="54 469 350 " data-email="ouerfelli.raed@insat.u-carthage.tn" data-fb="https://web.facebook.com/OuerfelliRaed" data-post="Responsable Multimédia" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
        Raed Ouerfeli <br> Responsable multiMedia
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0126.JPG');" data-name="" data-img="assets/img/comitee/DSC_0126.JPG" data-tel="92114192" data-email="samibelaid30@gmail.com" data-fb="https://web.facebook.com/semi.belaid.14" data-post="WebMaster " onclick="displayMemberModel(this)">

     <div class="overlay"></div> 
     <div class="textMember">
         Samira Belaid  <br> WebMaster
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0125.JPG');" data-name="" data-img="assets/img/comitee/DSC_0125.JPG" data-tel="94295180" data-email="nailiwiem@gmail.com" data-fb="https://web.facebook.com/profile.php?id=100014793825908" data-post="Secrétaire générale" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Wïem Naily <br>Secrétaire Générale
      </div>
    </div>
  </div>

  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0098.JPG');" data-name="" data-img="assets/img/comitee/DSC_0098.JPG" data-tel="27765680" data-email="Ichraf11@live.fr" data-fb="https://web.facebook.com/profile.php?id=100003041075964" data-post="Responsable Sponsoring" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Ichraf Frija <br> Responsable Sponsoring
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0095.JPG');" data-name="" data-img="assets/img/comitee/DSC_0095.JPG" data-tel="29052959" data-email="arijfrht@gmail.com" data-fb="https://web.facebook.com/arij.farhat.963" data-post="Trésorière" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Arij Farhat <br> Trésorière
      </div>
    </div>
  </div>
  <div class="box">
    <div class="photoMember" style="background-image: url('assets/img/comitee/taille1/DSC_0062.JPG');" data-name="" data-img="assets/img/comitee/DSC_0062.JPG" data-tel="23 815 004" data-email="Fadwa.hawari24@gmail.com" data-fb="https://web.facebook.com/fadwa.hawari.5" data-post="Responsable Ressources Humaines" onclick="displayMemberModel(this)">
     <div class="overlay"></div> 
     <div class="textMember">
         Fadwa Hawari <br> Responsable Ressources Humaines
      </div>
    </div>
  </div>

 </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content container container-fluid">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-md-6">
                            <img class="photo-responsable rounded img-responsive">
                        </div>
                        <div class="col-md-6">
                            <h3 class="name-responsable text-center"></h3>
                            <h5 class="post-responsable"></h5>
                            <p class="phone-number-responsable">GSM:  </p>
                            <p class="email-responsable">email:  </p>
                            <p class="fb-responsable">Facebook:  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>