.container {
  width: 1200px;
  margin: 50px auto;
}

.box {
  height: 125px;
  width: 125px;
  float: left;
  display: inline-block;
  overflow: hidden;
  margin-left: 27px;
  margin-right: 26px;
  margin-top: 42px;
  background-color: black;

  text-decoration: none;
  color: yellow;
  opacity: 1;
  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}


.photoMember:hover{
  opacity: 0.5;
}
.photoMember:hover > div {
  visibility: visible;
  opacity: 1;
}

//
//.box:hover{
//  border: 6px solid goldenrod;
//}


.photoMember {
  width: 125px;
  height: 125px;
  display: table-cell;
  vertical-align: middle;
  background-size: cover;
  position: absolute;

  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg) scale(1.42);
}
.textMember {
  width: 125px;
  height: 125px;
  display: table-cell;
  vertical-align: middle;
  color: black;
  background: transparent;
  visibility: hidden;
  position: relative;

  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  //-webkit-transform: rotate(-45deg);
  //-moz-transform: rotate(-45deg);
  //-ms-transform: rotate(-45deg);
  //-o-transform: rotate(-45deg);
  //transform: rotate(-45deg) scale(1.42);
}



.container > div:nth-child(1) {
  margin-left: 205px;
}
.container > div:nth-child(5) {
  margin-left: 116px;
}
.container > div:nth-child(16) {
  margin-left: 116px;
}
.container > div:nth-child(21) {
  margin-left: 205px;
}


.container > div:nth-child(n+5) {
  margin-top: -36px;
}

.clear::after {
  content: '';
  display: table;
  clear: both;
}