<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/novices/IMG_3025.jpg') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <h3 class="title">Ateliers Novices</h3>
        <p class="category">pour les jeunes curieux</p>
        <!--<div class="content">-->
          <!--<div class="social-description">-->
            <!--<h2>26</h2>-->
            <!--<p>Participants</p>-->
          <!--</div>-->
          <!--<div class="social-description">-->
            <!--<h2>26</h2>-->
            <!--<p>Comments</p>-->
          <!--</div>-->
          <!--<div class="social-description">-->
            <!--<h2>48</h2>-->
            <!--<p>Bookmarks</p>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="https://web.facebook.com/TunAeroday/" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Aimez notre page Facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCNPHxMaq-U-SdleuJgISVqQ" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="abonnez-vous sur notre chaine Youtube">
          <i class="fa fa-youtube-play"></i>
        </a>
        <a href="https://www.instagram.com/tunisian_aeroday/" target="_blank" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="Suivez-nous sur Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="row">
        <div class="col-md-3 ml-auto mr-auto text-center">
          <p class="category">Responsable Ateliers Novices:</p>
          <p> Ons Ghaffari</p>
          <img src="assets/img/comitee/DSC_0047.JPG" alt="Raised Image" class="rounded img-raised">
        </div>
        <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title">Description</h3>
          <h5 class="description">L’objectif des ateliers novices est de concevoir un mini Aeroday pour les enfants âgés de 4 à 16 ans et leur faire surtout découvrir le monde de l’aéronautique. Pour ce faire, des ateliers techniques , des stands et des challenges adaptés à leurs potentiels seront au rendez vous…</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <br>
          <br>
          <h4 class="title text-center">Ateliers Novices en images</h4>
          <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/novices/IMG_2981.jpg" alt="" class="img-raised">
                        <img src="assets/img/novices/IMG_2985.jpg" alt="" class="img-raised">
                      </div>
                      <div class="col-md-6">
                        <img src="assets/img/novices/IMG_2988.jpg" alt="" class="img-raised">
                        <img src="assets/img/novices/IMG_3002.jpg" alt="" class="img-raised">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/novices/IMG_3003.jpg" alt="" class="img-raised">
                        <img src="assets/img/novices/IMG_3015.jpg" alt="" class="img-raised">
                      </div>
                      <div class="col-md-6">
                        <img src="assets/img/novices/IMG_3019.jpg" alt="" class="img-raised">
                        <img src="assets/img/novices/IMG_3031.jpg" alt="" class="img-raised">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center" data-background-color="black" style="position: center">
    <div>
      <div>
        &copy;
        {{data | date: 'yyyy'}}, Aeroday.All rights reserved.
      </div>
    </div>
  </footer>
</div>
